.item1 {grid-area:header; background-color: #2196F3;}
.item2 {grid-area:navigation;}
.item3 {grid-area:space;}
.item4 {grid-area:content;}
.item5 {grid-area:footer;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'navigation navigation navigation navigation navigation navigation'
    'space content content content content content content'
    'space footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

