.grid-container 
{
  display: grid;
  grid-template-areas:
    'header navigation space content'
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 { grid-area: header; background-color: #2196F3;}
.item2 { grid-area: navigation; background-color: #ccff99}
.item3 { grid-area: space; background-color: #99ff99}
.item4 { grid-area: content; background-color: #99e6ff}
.item5 { grid-area: footer; background-color: #ffff99}
.item5 { grid-area: random; background-color: #ffff99}
